.booking {
    border-color: white;
    border-radius: 30px;
    padding: 20px;
}
.bike {
      border-radius: 50px;
}
.buttonAddBooking {
  background-color: #D29F45;
}
.buttonCloseSession {
  background-color: red;
}
.signUp{
  color:red;
  text-decoration: underline;
  font-size: 15px;
  margin-top:20px;
}
.selection {
  color: black;
  width: 100%;
  padding: 10px;
  margin-top:5px;
  margin-bottom: 10px;
}
.registrarse {
  background-color: #D29F45;
}